<!-- BARRE SOUS LE TITRE -->

<h2 data-mce-fragment="1" style="margin-bottom: 15px;">La montre est FullStack</h2>
<div style="background: #ff00bb; width: 20%; height: 3px; margin-bottom: 15px;"></div>

<!-- FIN -->



<!-- BARRE A GAUCHE DU TITRE -->

<h2 style="border-left: 3px solid #ff00bb; padding-left: 10px;" data-mce-fragment="1">Un gadget qui vous suivra partout</h2>

<!-- FIN -->
